@mixin for-size($size) {
  @if $size == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == big-tablet {
    // 769-992px
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size == tablet {
    // 577-768px
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == mobile {
    // 320-576px
    @media (max-width: 576px) {
      @content;
    }
  }
}

@function rem($px) {
  @return ($px / 16) + rem;
}

@mixin pseudo($width, $height, $content: '') {
  content: $content;
  width: $width;
  height: $height;
}

@mixin background-settings(
  $repeat: no-repeat,
  $position: center,
  $size: cover
) {
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}
