@mixin for-size($size) {
  @if $size == desktop {
    // 993-1280px
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $size == big-tablet {
    // 769-992px
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size == tablet {
    // 577-768px
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == mobile {
    // 320-576px
    @media (max-width: 576px) {
      @content;
    }
  }
}

@function rem($px) {
  @return ($px / 16) + rem;
}

@mixin pseudo($width, $height, $content: '') {
  content: $content;
  width: $width;
  height: $height;
}

@mixin background-settings(
  $repeat: no-repeat,
  $position: center,
  $size: cover
) {
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin main-button($color) {
  height: 45px;
  padding: 0 2em;
  border-radius: 25px;
  border: 1px solid;
  font-size: 1.05rem;
  cursor: pointer;
  &:hover {
    padding: 0 5.5em 0.1em 1.6em
  }
  &:hover > .fa-arrow-right {
    display: inline-block;
    padding: 0.3em 0 0 0;
    position: absolute;
  }
  .fa-arrow-right {
    display: none;
    width: 0.77rem;
    margin: auto auto auto 3.3em;
    fill: #ffffff;
    padding: 0.3em 0 0 0;
    position: absolute;
  }

  @if $color == transparent {
    color: #000000;
    background-color: #ffffff;
    border-color: #E6E6E6;
  } @else if $color == blueTransparent {
    color: #000000;
    background-color: #ffffff;
    border-color: #267DF4;
  } @else if $color == blue {
    color: #ffffff;
    background-color: #267DF4;
    border: 0;
  } @else if $color == green {
    color: #ffffff;
    background-color: #6FC754;
    border: 0;
  }

  @include for-size(desktop) {
    height: 32px;
    padding: 0 1.6em;
    border-radius: 16px;
    font-size: 0.8rem;
    &:hover {
      padding: 0 4.8em 0.1em 1.6em;
    }
    &:hover > .fa-arrow-right {
      padding: 0.3em 0 0 0;
    }
    .fa-arrow-right {
      width: 0.6rem;
      margin: auto auto auto 3em;
    }
  }
}
