.app-protection {
  height: 40rem;
  max-height: 1000px;
  margin: 5rem 0;
  @media (max-width: 1024px) {
    height: 30rem;
  }
  @media (max-width: 850px) {
    height: 25rem;
  }
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__background {
    height: 40rem;
    background-image: url("../images/iPhone-6.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 55%;
    z-index: -10;
    background-position: -3.8rem 0;
    max-height: 800px;
    @media (min-width: 1300px) {
      background-position: 75%;
    }
    @media (max-width: 1024px) {
      height: 30rem;
      width: 50%;
    }
    @media (max-width: 850px) {
      height: 25rem;
    }
    @include for-size(tablet) {
      width: 80%;
      background-position: center;
    }
  }

  &__content-wrap {
    display: flex;
    justify-content: flex-end;
    min-height: max-content;
    overflow: hidden;
    flex-wrap: wrap;
    height: 100%;
    @include for-size(tablet) {
      flex-direction: column;
      padding: 60rem 10% 0 10%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 10% 0;
    @media (max-width: 1300px) {
      max-width: 45%;
      padding: 9% 7% 0% 0;
    }
    @include for-size(tablet) {
      padding: 0;
      max-width: 100%;
    }
  }

  &__title {

  }

  &__article {
    font-size: 1.25rem;
    line-height: 1.25;
    color: #8c8f94;

    &--elem:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}

.shadow {
  &__app-protection {
    filter: drop-shadow(-12px 30px 30px rgba(106, 119, 145, 0.15)) drop-shadow(1px 7px 5px rgba(61, 61, 62, 0.35));
  }
}
