.logo {
  text-transform: uppercase;
  color: #26272d;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.3s linear;

  &__bold {
    font-weight: 900;
  }

  &:hover {
    transform: scale(1.051);
  }
}
