.logo {
  display: block;
  width: max-content;
  text-transform: uppercase;
  color: #26272d;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.2s linear;

  &:hover {
    font-weight: 900;
  }

  &__bold {
    font-weight: 900;
    transition: all 0.2s linear;
  }

  &:hover .logo__bold {
    color: #267df4;
  }
}
