.app-protection {
  height: 40rem;
  max-height: 1000px;
  margin: 5rem 0;
  @media (max-width: 1024px) {
    height: 40rem;
  }

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50rem;
  }

  &__background {
    height: 40rem;
    background-image: url("../images/iPhone-6.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 55%;
    z-index: -10;
    background-position: -4.8rem 0;
    max-height: 800px;
    @media (min-width: 1602px) {
      background-position: 75%;
    }
    @media (max-width: 1024px) {
      height: 40rem;
      width: 50%;
      background-position: -4.8rem 50%;
    }

    @include for-size(tablet) {
      width: 80%;
      background-position: center 20%;
      margin-top: -20rem;

    }
  }

  &__content-wrap {
    display: flex;
    justify-content: flex-end;
    min-height: max-content;
    overflow: hidden;
    flex-wrap: wrap;
    height: 100%;
    @include for-size(tablet) {
      flex-direction: column;
      padding: 0 10% 0 10%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 41%;
    min-width: 270px;
    padding: 10% 0;
    @media (max-width: 1282px) {
      max-width: 45%;
      padding: 9% 7% 0 0;
    }
    @include for-size(tablet) {
      padding: 0;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 3.3rem;
  }

  &__article {
    width: 100%;
    font-size: inherit;
    line-height: 1.25;
    color: #8c8f94;

    &--elem:not(:last-child) {
      margin-bottom: 1.60rem;
    }

    @include for-size(desktop)  {
      font-size: 1.25vw;
      width: 85%;
    }
    @media (max-width: 1099px) {
      font-size: 1.25rem;
    }
  }

  &__buttons-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
    margin-top: 3.35rem;
    @media (max-width: 484px){
      width: 69%;
    }
  }

  &__btn {
    @include main-button(transparent);

    &:hover {
      @include main-button(blue);
    }
  }
}


