.customers {
  &__inner {
    min-width: 0;
  }
  &__slider {
    text-align: center;
    max-width: 100%;

    & .swiper-container {
      width: 100%;
      height: 100%;
      text-align: center;
    }
    & .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 100px 0;
      position: relative;
    }
    & .swiper-button-prev::after,
    & .swiper-button-next::after {
      color: #d4d4d5;
      margin-bottom: 360px;
      @include for-size(big-tablet){
        margin-bottom: 230px;
      }
      @include for-size(tablet){
        margin-bottom: 155px;
      }
    }
    &-text-content {
      max-width: 590px;
      padding-top: 70px;
    }
    &-title {
      padding: 50px 0;
    }
    &-review {
      color: #8c8f94;
    }
    &-name {
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
    }
    &-review-stars {
      display: flex;
      justify-content: center;
      padding: 30px 0 60px 0;
    }
    &-review-stars svg {
      padding-right: 10px;
      fill: #f2bc3b;
      &.unactive{
        fill: #26272d;
      }
    }
    &-review-stars img:last-child {
      padding-right: unset;
    }
    & .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: unset;
      top: 40px;
    }
    
    & .swiper-pagination img:not(:last-child) {
      margin-right: 130px;
      @include for-size(big-tablet){
        margin-right: 50px;
      }
      @include for-size(mobile){
        margin-right: 20px;
      }
    }
    
    & .swiper-pagination img {
      position: relative;
      cursor: pointer;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 2px;
      opacity: .2;
      transition: all 0.2s linear;
      @include for-size(mobile){
        width: 70px;
        height: 70px;
      }
    }
    & .swiper-pagination img.swiper_pagination_img-active {
      width: 130px;
      height: 130px;
      box-shadow: 0px 16px 29px -11px rgba(0,0,0,0.27);
      opacity: 1;
      @include for-size(mobile){
        width: 100px;
        height: 100px;
      }
    }
  }
}


