// HEADER
.header {
  width: 100%;
  height: 100%;
  position: relative;

  background: rgb(255, 255, 255) center no-repeat;
  background: -moz-linear-gradient(
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('./../images/intro-bc.png');
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('./../images/intro-bc.png');
  background: linear-gradient(
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('./../images/intro-bc.png');

  background-size: cover;

  &__logo {
    margin-left: 2%;
    @include for-size(big-tablet) {
      margin-left: 0;
      padding: 0 15px;
    }
    @include for-size(tablet) {
      padding: 0;
      order: 1;
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  //БУРГЕР-МЕНЮ
  &__burger1 {
    display: block;
    position: relative;
    width: 20px;
    height: 12px;
    margin-right: 30px;
    cursor: pointer;

    @include for-size(big-tablet) {
      margin-right: 20px;
    }

    @include for-size(tablet) {
      display: none;
      margin-right: 0;
      opacity: 0;
    }

    & span {
      background-color: #1b1c1e;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 5px;
    }

    &::before {
      content: '';
      background-color: #1b1c1e;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
    }
    &::after {
      content: '';
      background-color: #1b1c1e;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1b1c1e;
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-size(tablet) {
      display: none;
    }
    & li {
      padding-right: 40px;

      @include for-size(big-tablet) {
        padding-right: 20px;
        font-size: 12px;
      }
    }

    & li:last-child {
      padding-right: unset;
    }
    & a:hover {
      color: #267df4;
      text-decoration: underline;
      transition: 0.1s;
    }
    & a {
      color: #1b1c1e;
    }
  }

  &__info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-size(tablet) {
      display: none;
    }

    & li .info-list-item {
      padding-right: 40px;
      color: #1b1c1e;

      @include for-size(big-tablet) {
        padding-right: 20px;
        font-size: 12px;
      }
    }

    & li .info-list-item:hover {
      text-decoration: underline;
    }
    & li:last-child {
      padding-right: unset;
    }
    & a:hover {
      color: #267df4;
      transition: 0.1s;
      @include for-size(mobile){
        color:transparent;
      }
    }
  }

  &__info-btn {
    color: #fff;
    background-color: #267df4;
    align-items: center;
    padding: 10px 25px 10px 43px;
    border-radius: 40px;
    width: 100%;
    position: relative;
    transition: 0.2s;
    text-decoration: none;

    @include for-size(big-tablet) {
      font-size: 12px;
      padding: 7px 15px 7px 30px;
    }

    @include for-size(tablet) {
      left: 12px;
      font-size: 16px;
    }

    & svg {
      fill: #fff;
      position: absolute;
      left: 15px;
      top: 48%;
      transform: translateY(-52%);
      @include for-size(big-tablet) {
        width: 13%;
      }
      @include for-size(tablet) {
        left: 12px;
      }
      @include for-size(mobile){
        left: 25px;
        width: 20%;
      }
    }
    &:hover svg {
      fill: #267df4;
      margin-right: 10px;
    }

    &:hover {
      background-color: #fff;
      color: #267df4;
      box-shadow: 0 16px 34px -4px #5c5f65;
      transition: 0.2s;
    }
  }

  //INFO
  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    height: 90vh;
  }
  &__title {
    padding-bottom: 40px;
    font-size: 62px;
    font-family: 'Varela Round';
    @include for-size(tablet) {
      font-size: 55px;
    }
    @include for-size(mobile) {
      font-size: 43px;
    }
  }
  &__description {
    padding-bottom: 60px;
    font-size: 20px;
    color: #8c8f94;
    @include for-size(tablet) {
      padding-bottom: 50px;
    }
  }
  &__image img {
    margin: 0 auto;
  }
  &__btn {
    border: 1px solid #dadcdf;
    padding: 15px 30px;
    border-radius: 40px;
    background-color: #f0f2f3;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;

    position: relative;

    & svg {
      fill: #26272d;
      margin-right: 10px;
    }
    &:hover {
      background-color: #267df4;
      color: #fff;
      transition: 0.2s;
      transform: scale(1.09);
      & svg {
        fill: #fff;
        margin-right: 10px;
      }
    }
  }
}
