// HEADER
.header {
  width: 100%;
  height: 100%;
  position: relative;

  background: rgb(255, 255, 255) center no-repeat;
  background: -moz-linear-gradient(
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('./../images/intro-bc.png');
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('./../images/intro-bc.png');
  background: linear-gradient(
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('./../images/intro-bc.png');

  background-size: cover;

  &__logo{
    margin-left: 90px;
    @include for-size(big-tablet){
      margin-left: 0;
    }
    &.active{
      display: none;
    }
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 35px;
    font-size: 16px;
    top: 0;
    z-index: 103;
    @media (max-width: 1200px) {
    }
    &.active{
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 110;
      background-color:#eaf3ff;
      padding: 40px 40px;
      margin: 0 auto;
    }
  }
  //БУРГЕР-МЕНЮ
  &__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 12px;
    margin-right: 30px;
    cursor: pointer;
    &.hidden{
      display: none;
    }
    @include for-size(tablet){
      position: fixed;
    }
    // &.active{
    //   //зміна на --- на Х
    // }
    & span {
      background-color: #1b1c1e;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 5px;
    }
    &::before {
      content: '';
      background-color: #1b1c1e;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
    }
    &::after {
      content: '';
      background-color: #1b1c1e;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
    }
  }
  
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1b1c1e;
    &.active{
      display: block;
    }
    @include for-size(tablet){
      z-index: 0;
    }
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include for-size(tablet){
      display: none;
    }
    &.active{
      display: block;
      margin: 0 auto;
      max-width: 300px;
    }
    &.active li{
      font-size: 25px;
    }
    & li {
      padding-right: 40px;
    }
    & li:last-child {
      padding-right: unset;
    }
    & a:hover {
      color: #267df4;
      text-decoration: underline;
      transition: 0.1s;
    }
    & a{
      color: #1b1c1e;
    }
  }
  &__info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include for-size(tablet){
      display: none;
    }

    &.active{
      font-size: 25px;
      display: block;
      margin: 0 auto;
      max-width: 300px;
      padding-bottom: 30px;
    }
    &.active li{
      font-size: 25px;
    }
    & li {
      padding-right: 40px;
    }
    & li:last-child {
      padding-right: unset;
    }
    & li:last-child {
      padding-right: unset;
    }
    & a:hover {
      color: #267df4;
      transition: 0.1s;
    }
    & a{
      color: #1b1c1e;
    }
  }
 
  &__info-btn {
    color: #fff;
    background-color: #267df4;
    align-items: center;
    padding: 10px 30px;
    border-radius: 40px;
    position: relative;
    transition: .2s;
    &-img{
      fill: #fff;
      margin-right: 10px;
    }
    &:hover svg{
      fill: #267df4;
      margin-right: 10px;
    }
    &.hidden{
      display: none;
    }

    @include for-size(tablet) {
      padding: 10px 15px 10px 43px;   
    }
    // &::before {
    //   content: url('./../images/apple-icon.png');
    //   left: 20px;
    //   top: 50%;
    //   z-index: 1;
    //   position: absolute;
    //   transform: translate3d(0, -50%, 0);
    // }
    &:hover{
      background-color: #fff;
      color: #267df4;
      box-shadow: 0 16px 34px -4px #5c5f65;
      transition: .2s;
    }
  }

  &__close-btn{
    display: none;
    color: #fff;
    background-color: #267df4;
    padding: 10px 15px;
    border:unset;
    border-radius: 40px;
    position: relative;
    transition: .2s;
    cursor: pointer;
    &.active{
      display: block;
      margin: 0 auto;
    }
      &:hover{
    background-color: #fff;
    color: #267df4;
    border: 1px solid #267df4;
    transition: .2s;
    transform: scale(1.09);
  }
  }
  //INFO
  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    height: 90vh;
  }
  &__title {
    padding-bottom: 40px;
    font-size: 62px;
    font-family: 'Varela Round';

    // @include for-size(tablet) {
    //     font-size: 22px;
    //   }
  }
  &__description {
    padding-bottom: 60px;
    font-size: 20px;
    color: #8c8f94;
  }
  &__image img {
    margin: 0 auto;
  }
  &__btn {
    border: 1px solid #dadcdf;
    padding: 15px 30px;
    border-radius: 40px;
    background-color: #f0f2f3;
    font-size: 16px;
    transition: .2s;
    cursor: pointer;

    position: relative;

    & svg{
      fill: #26272d;
      margin-right: 10px;
    }
    &:hover{
      background-color: #267df4;
      color: #fff;
      transition: .2s;
      transform: scale(1.09);
      & svg{
        fill:  #fff;
        margin-right: 10px;
      }
    }
  }

}
