.subscribe {
  padding-top: 90px;
  background-color: #fff;
  text-align: center;

  & .container {
    border-bottom: 1px solid rgba(38, 41, 44, 0.05);
  }

  &__title {
    font-family: 'Varela Round';
    font-size: 42px;
    color: #26292c;
    line-height: 1.238;
    margin-bottom: 45px;

    @include for-size(mobile) {
      font-size: 34px;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(34, 35, 40, 0.2);
    width: 560px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    padding: 3px;

    @include for-size(tablet) {
      width: 100%;
    }
  }

  &__input {
    display: block;
    font-size: 16px;
    background-color: #fff;
    width: 423px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;

    @include for-size(mobile) {
      width: 100%;
    }

    &::placeholder {
      color: rgba(38, 41, 44, 0.7);
      text-indent: 0px;
      transition: all 0.3s linear;
    }

    &:focus::placeholder {
      text-indent: 101%;
    }
  }

  &__btn {
    cursor: pointer;
    background-color: #6fc754;
    color: #ffffff;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 15px;
    border-radius: 40px;
    font-size: 16px;
    transition: all 0.2s linear;

    @include for-size(mobile) {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 9px;
      padding-bottom: 11px;
    }

    &:hover,
    &:focus {
      background-color: #267df4;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__subtitle {
    font-size: 14px;
    color: rgb(140, 143, 148);
    margin-bottom: 21px;
    padding-bottom: 83px;

    @include for-size(mobile) {
      padding-bottom: 50px;
      margin-bottom: 0;
    }
  }
}
